/*  Header */

.menu {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-item a {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding-left: 5px;
}

.nav-item a:hover {
  background: green;
  border-radius: .3rem;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
  margin: 0;
}