/*  Header */

.header {
  margin-top: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgba(0, 0, 0, 0.6);
}

.ressources {
  height: 50px;
  width: auto;
}

.logogoodplanet {
  height: 50px;
  width: auto;
}